<div class="row">
    <div class="col s12">
        <div class="card-panel">
            <h1><%=title%></h1>
            <p>To make this site work properly, we sometimes place small data files called cookies on your device. Most big websites do this too.</p>
        </div>
        <div class="card-panel">
            <h5>What are cookies?</h5>
            <p>
                A cookie is a small text file that a website saves on your computer or mobile device when you visit the site. for duration of an each session.
                It enables the website to remember your actions and preferences (such as login, language, font size and other display preferences) over a period of time, so you don’t have to keep re-entering them whenever you come back to the site or browse from one page to another.
            </p>
        </div>
        <div class="card-panel">
            <h5>How do we use cookies?</h5>
            <p>We use cookies for a variety of reasons, not only do they help to provide a better user experience they allow us to collect information about how people use the service.<br>
                (a) what pages (threads and messages) are most popular (visited most);<br>
                (b) at what time people usually access the system.
            </p>
            <p>
                This information is then used to improve the service and published in academic papers. All gathered information is depersonalised and sdoesn't have any links to the actual user or person, due to built-in anonymity of the system.
            </p>
            <p>
                <i>Authentication:</i> We use cookies when you sign in to the site, this helps us remember who is currently authenticated so you won't be blocked out from the internal pages, once you access them. Any action, available to authenticated users, you perform when authenticated relies on cookies to work correctly.
            </p>
            <p> <i>Gathering Statistics:</i> We use cookies to gather anonymized statistics for different pages on our site. This is important to understand how users navigate between pages and content. This information is used to improve your experience and in an anonymous form when published as research.
                Important to mention, due to anonymous nature of the system this statistics links only to the specific session(cookie). if you logout and then access system again you will have a different session(cookie).
            </p>
            <p>
                <i>Research:</i> This service is provided by Open Lab, Newcastle University and is part of a research project. The data we collect from users when they use the service is likely to be analysed and published. We keep individual user data anonymous and respect user privacy. You can read more about how your data is used in research in our Research Policy.
            </p>
        </div>
        <div class="card-panel">
            <h5>Do we use other cookies?</h5>
            <p>We use Google Recaptcha (at least for now) to protect the system from the bots and abuse. We encourage you to review their privacy policy and terms if you accept the use of cookies on this site.</p>
        </div>
        <div class="card-panel">
            <h5>How to control cookies</h5>
            <p>You can control and/or delete cookies as you wish – for details, see aboutcookies.org.
                You can delete all cookies that are already on your computer and you can set most browsers to prevent them from being placed.
                If you do this, however, you may have to manually adjust some preferences every time you visit a site and some services and functionalities may not work.</p>
        </div>
    </div>
</div>