<div class="row">
    <div class="col s12">
        <div class="card-panel">
            <h1><%=title%></h1>
            <p>How the use of NINEtoFIVE informs research</p>
            <p>This service, NINEtoFIVE, is part of a research project by <a target="_blank" href="https://openlab.ncl.ac.uk/">Open Lab</a>, <a target="_blank" href="https://www.ncl.ac.uk/">Newcastle University</a>. We collect data on how you use the system to inform our research as described below. Any published work resulting from data captured through NINEtoFIVE will never include details that could be used to identify yourself or other users.</p>
        </div>
        <div class="card-panel">
            <h5>Our Research</h5>
            <p>
                All the discussions(comments, messages, votes, results of polls), the associated statistical data (users' use of the service, number of users accessed specific topics) are used to understand how digital tools can support and facilitate employees and community members engagement, establishing of the trusted workplace/community environment and generally promote employee voice and speaking. How with the help of technologies we can make these processes more accessible.
            </p>
        </div>
        <div class="card-panel">
            <h5>Contact Information:</h5>
            <p>If you have any questions about our research in relation to NINEtoFIVE, including how you can withdraw your data, then please contact us:
            </p>
            <p>
                <b>Address:</b><br>
                Open Lab<br>
                Floor 1<br>
                Urban Sciences Building<br>
                1 Science Square<br>
                Newcastle Helix<br>
                Newcastle Upon Tyne<br>
                NE4 5TG<br>
                UK
            </p>
            <p>
                <b>Phone:</b> +44 191 20 84642 | 84630<br>
                <b>Email:</b> openlab-admin@newcastle.ac.uk<br>
            </p>
        </div>
        <div class="card-panel">
            <h5>Effective Date:</h5>
            <p>May 25, 2018</p>
        </div>
    </div>
</div>