<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/materialize.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <link rel="stylesheet" type="text/css" href="/stylesheets/cookieconsent.min.css" />
  <script src="javascripts/cookieconsent.min.js"></script>
  <script>
    window.addEventListener("load", function(){
      window.cookieconsent.initialise({
        "palette": {
          "popup": {
            "background": "#216942",
            "text": "#b2d192"
          },
          "button": {
            "background": "#afed71"
          }
        },
        "position": "bottom-right",
        "type": "opt-in",
        "content": {
          "href": "../cookie"
        }
      })});
  </script>
</head>
<body>
  <script type="text/javascript" src="javascripts/jquery-3.2.1.min.js"></script>
  <script src="javascripts/materialize.min.js"></script>
  <main>

    <div class="main-brand">
      <div class="container">
        <a href="/" target="_self">
          <img src="/images/logos/<%=general.logo%>" alt="Main Logo">
        </a>
      </div>
    </div>

    <div class="primary-banner"></div>

    <div class="container">
      <%- include('partials/about_body') %>
    </div>
      <%- include('partials/footer') %>
  </main>
</body>
</html>
<script>
  function open_li(number) {
    $('.collapsible').collapsible('open', number);
  }

  function getParameterByName(name, url) {
    console.log(name);
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
  }

  $(document).ready(function(e) {
    var loc = 'http://'+ window.location.host
    console.log('This is loc: ', loc);
    loc = loc.replace(/(about)/, '');
    document.getElementById('feedback_link_1').setAttribute('href', loc + '/feedback');
    document.getElementById('feedback_link_3').setAttribute('href', loc + '/feedback');
    var point = getParameterByName('opt');
    console.log(point);
    if (point && point.length > 0){
      try {
        parseInt(point);
        open_li(parseInt(point));
      }
      catch (err){
        console.log(err)
      }
    }

  });

</script>