<!DOCTYPE html>
<html>
<head>
    <title><%= error.status %></title>
    <link rel="stylesheet" href="/stylesheets/materialize.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script type="text/javascript" src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<main>
    <div class="container">
    <div class="col s12 m7">
        <h5 class="header"><%= error.status %></h5>
        <h6><%= message %></h6>
        <!--<pre><%= error.stack %></pre>-->
    </div>
    </div>
</main>
</body>
</html>
<script>
  $(document).ready(function (e) {
    document.getElementById('feedback_link_3').setAttribute('href', 'http://'+ window.location.host + '/system/feedback');
  });
</script>